[project]
name = "rts"
version = "2.0.0"
description = "Reverse Transpiler Service - A service running a REST API that serves accessioned metadata files by study ID"
dependencies = [
    "typer >= 0.15",
    "ghga-service-commons[api] >= 5.0",
    "ghga-event-schemas ~= 10.0",
    "hexkit[akafka,mongodb] >= 6.0",
    "openpyxl >= 3.0.0",
]

[project.urls]
Repository = "https://github.com/ghga-de/reverse-transpiler-service"

[project.scripts]
rts = "rts.__main__:cli"
